@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');

*{ 
    font-family: 'Poppins', sans-serif;  
}


/* HEADER */

header {
    background-color: rgb(229, 229, 229);
    /* pozicija */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    /* elementi */
    display: flex;
    align-items: center;  
    /* senka */
    box-shadow: 0 0 60px 5px rgba(107, 106, 106, 0.5);
}

header * {
    display: inline; 
}


#menuLogo {
    margin: 20px;
    margin-left: 30px;
    height: 30px;
}

header li {
    margin: 20px;
}

header li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(24, 24, 24);
    /* hover */
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header li a:hover{
    color: rgba(24, 24, 24, 0.5);
}

#infoButton {
    padding: 10px 30px;
    margin-left: auto;
    margin-right: 70px;
    /* border */
    border-radius: 20px;
    border: none;
    /* normalno */
    font-weight: 500;
    color: rgba(255, 255, 255, 0.781);
    background-color: rgb(18, 18, 18);
    /* hover */
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#infoButton:hover {
    background-color: rgba(24, 24, 24, 0.5);
    color:  rgba(255, 255, 255, 0.781);
}

#infoButton:hover + #contact-info {
    display: flex;
}

.burgerMenu {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2vh 2vh;
    cursor: pointer;
}

.menuOpened{
    visibility: hidden;
}


@media (max-width: 850px) {

    #burger{
        visibility: visible;
    }

    header{
        /* display: none;  */
        flex-direction: column;
        width: 60vw;
        height: 100vh;
        right: 0;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    header ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        font-size: 3.5vh;
    }

    #menuLogo{
        margin: 0;
        height: 5vh;
    }

    #infoButton {
        margin: 0;
        bottom: 0;
        font-size: 1.5em;
        border-radius: 30px;
    }

}

/* BODY */

body{
    margin: 0px;
    background-color: rgb(0, 0, 0);
}

/* FOOTER */

footer{
    /* stil */
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.751);
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.25);
    /* pozicija */
    bottom: 0;
    width: 100vw;
    height: 5vh;
    /* layout */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
footer * {
    font-size: 0.8rem;
    padding: 5hw;
}

#contact-info {
    /* pozicija */
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

    /* color */
    background-color: #ffffff;
    color: #000000c3;
    box-shadow: 0px 0px 500px 50px #00000017;
    /* size and border */
    border: none;
    border-radius: 30px;
    min-width: 300px;
    min-height: 70vh;
    /* position */
}

@media (min-height: 1000px) {
    #contact-info {
        width: 450px;
    }
    #contact-info img {
        padding: 10% 1%;
    }
}

@media (min-width: 850px) {
    #contact-info {
        width: 600px;
    }
    #contact-info img {
        padding: 0% 5%;
    }
    #contact-info h2 {
        padding: 0% 5%;
    }
}

.contact-info{
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.5s, top 0.4s;
    visibility: hidden;
}

.open-contact-info {
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

#contact-info-wrapper{
    text-align: center;
    padding: 10%;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 10%;
}

#contact-info img {
    height: 8vh;
}

#contact-info img:hover {
    transform: rotate(-5deg);
}

#contact-info h2 {
    font-size: 1em;
    text-align: left;
    padding-left: 10%;
}

#contact-info button{
    background-color: #dddddda2;
    color: #46464682;
    font-size: 0.8em;
    font-weight: 600;

    border-radius: 20px;
    border: none;
    height: 5vh;
    margin-top: 20%;
    padding: 7% 15%;

    cursor: pointer;
}
#contact-info button:hover{
    background-color: #49A9EE;
    color: #ffffffa7;
}

/* HOME */

#homepage {
    /* text */
    text-align: right;
    /* font */
    color: white;
}

/* section 1 */
#home-section1{
    /* positioning */
    width: 100vw;
    min-height: 100vh;

    /* pozadina */
    background-image: url(/img/main/background.png);
    background-size: cover;
    background-position:bottom left;
    background-color: rgb(0, 0, 0);
    background-blend-mode:luminosity;
}

#home-container1a{
     /* positioning */
     display: inline-block;
     justify-content:space-between;
     width: 100vw;
     height: 50vh;
}

#home-catchphrase {
    text-shadow: 2px 2px 15px #2e2e2e93;
    font-size: 10vh;
    padding: 10vh 10vw;
}

/* section 2 */

#home-section2 {
    width: 100vw;
}

#home-section2 div {
    text-align: left;
    color: #ffffffe7;
    text-shadow: 2px 2px 15px #1d1d1ddc;

    width: 100vw;
    min-height: 540px;
}

.home-predstavljanje {
    /* responzivnost */
    background-size: cover;
    background-position: center top;
}

.home-predstavljanje h1, .home-predstavljanje p{
    margin: 0;
    max-width: 40ch;
    padding-left: 10vw;
    padding-right: 10vw;
}

@media (min-width: 820px) {
    #home-andjelija h1, #home-andjelija p, #home-bojan h1, #home-bojan p{
        margin-left:50vw;
    }
}

.home-predstavljanje h1{
    padding-top: 20vh;
    font-size: 3rem;
}

.home-predstavljanje p{
    padding-bottom: 5vw;
}

#home-andjelija {
    background-image: url(/img/main/andjelija.jpg);
}

#home-branko {
    background-image: url(/img/main/branko.jpg);
    background-position: right top;
}

#home-bojan {
    background-image: url(/img/main/bojan.jpg);
    background-position: left top;
}

#home-anastasija {
    background-image: url(/img/main/anastasija.jpg);
}

#shopPage {
    background-color: rgb(0, 0, 0);
    color: rgb(30, 30, 30);
}

#shop-landing {
    background-color: white;
    height: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shop-landing-wrapper {
    margin-top: -5vh;
}

#shop-shopping-cart {
    /* center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* size */
    height: 15vh;
    margin-bottom: 5vh;
    transition: all 0.3s ease 0s;
}

#shop-shopping-cart:hover{
    transform: rotate(-5deg);
}


#shop-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
}

#shop-landing-wrapper h1, #shop-landing-wrapper p{
    text-align: center;
}

#shop-landing-wrapper h1 {
    font-size: 5vh;
    font-weight: 800;
}

#shop-landing-wrapper p {
    font-size: 1.25em;
    margin-top: 5vh;
    color: #00000066;
}


#shop-glavna-sekcija {
    /* pozadina */
    background-image: url(/img/shop/background.jpeg);
    background-color: #593906a5;
    background-blend-mode:color-burn;
    box-shadow: -1px 0px 50px 30px #00000025;
    /* size */
    width: 100vw;
    min-height: 100vh;
    /* grid */
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;


}

#shop-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

@media (min-width: 850px) {
    #shop-grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    #shop-grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

#shop-grid-wrapper div{
    min-height: 50vh;

}

.proizvod-okvir {
    /* pozicija */
    margin: 10%;
    /* okvir */
    border-radius: 40px;
    border: none;
    /* boje */
    color: #000000cc;
    background-color: #fffffff9;
    box-shadow: 5px 5px 30px 10px #212121d1;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.proizvod-okvir:hover {
    background-color: #dc9609;
    color: rgba(255, 255, 255, 0.596);
}

.proizvod-ime {
    margin: 0px;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;

    text-align: center;
    font-size: 2em;
}

.proizvod-slika{
    /* pozicija */
    display: block;
    margin: auto;
    position: static;
    height: 20vh;

    /* border */
    border-radius: 10%;
    border: none;

    transition: all 0.3s ease 0s;
}

.proizvod-slika:hover{
    transform: rotate(-5deg);
}

.proizvod-opis{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 10%;
    max-width: 70ch;
    color: #00000060;
}

.proizvod-cena{
    padding-bottom: 10%;
    padding-left: 10%;
    font-size: 1.5em;
}

#shop-formaSector{
    background-color: white;
    width: 100vw;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

#shop-formaSector-wrapper {
    padding: 0 10vw;
}

#shop-formaSector-wrapper img {
    transition: all 0.3s ease 0s;
}

#shop-formaSector-wrapper img:hover {
    transform: rotate(-5deg);
}

#shop-formaSector-wrapper h1{
    font-size: 2em;
    font-weight: 800;
}

#shop-formaSector-wrapper p{
    color: #00000073;
    padding-bottom: 2vh;
    max-width: 70ch;
}

#shop-formaSector-wrapper button{
    font-size: 2vh;
    border-radius: 40px;
    border: none;
    height: 5vh;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#shop-formaSector-wrapper button:first-child{
    background-color: #222222;
    color: #ffffffad;
    font-weight: 700;
    width: 50vw;
}

#shop-formaSector-wrapper button:nth-child(2){
    background-color: #e7e7e7;
    color:#00000086;
    width: 20vw;
    margin-left: 1vw;
}

#shop-formaSector-wrapper button:hover{
    background-color: #dc9609;
    color: #ffffff93;
}

#tour-section1 {

    height: 85vh;
    width: 100vw;
    background-position:top;
    background-size: cover;
    /* text */
    text-align: left;
    /* pozadina */
    background-image: url(/img/tour/background.webp);
    background-color: rgba(8, 8, 48, 0.71);

    background-blend-mode:darken;
    /* font */
    color: white;
}


/*Stranica za kupovinu*/


#kupovinaPage{
    background-color: white;
}

#kupovina-shop-section1{

}

#shop-kupovina-section1-podaci{
    min-height: 100vh;
}

#kupovina-forma{
    margin-top: 30vh;
    margin-left: 30vh;
}



