@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap');

*{ 
    font-family: 'Poppins', sans-serif;
    
}

/* HEADER */

header {
    background-color: rgb(229, 229, 229);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    align-items: center;  
    box-shadow: 0 0 60px 10px rgba(107, 106, 106, 0.369);
}

header * {
    display: inline; 
}


header img {
    margin: 20px;
    margin-left: 30px;
    height: 30px;
}

header li {
    margin: 20px;
}

header li a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(24, 24, 24);
    /* hover */
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header li a:hover{
    color: rgba(24, 24, 24, 0.5);
}

#infoButton {
    padding: 10px 30px;
    margin-left: auto;
    margin-right: 70px;
    /* border */
    border-radius: 20px;
    border: none;
    /* normalno */
    font-weight: 500;
    color: rgba(255, 255, 255, 0.781);
    background-color: rgb(18, 18, 18);
    /* hover */
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#infoButton:hover {
    background-color: rgba(24, 24, 24, 0.5);
    color:  rgba(255, 255, 255, 0.781);
}


/* BODY */

body{
    margin-top: 70px;
    background-color: rgb(0, 0, 0);
}

#homepage {
    /* text */
    text-align: right;
    /* font */
    color: white;
    /* grid layout */ 
    /* fr je fraction */
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr; 
    grid-template-rows: 540px, 540px, 540px, 540px, 540px, 540px; 

}

#home-section1{
    /* positioning */
    width: 100vw;
    height: 100vh;
    /* pozadina */
    background-image: url(/img/main/background.jpg);
    background-color: rgb(0, 0, 0);
    background-blend-mode:luminosity;
    background-size: 1920px;
    background-position:left;
}

#home-container1a{
     /* positioning */
     width: 100vw;
     height: 100vh;
}

#home-section2 div {
    align-content: center;
    padding: 10px;
    border: 10px white;
}

#home-catchphrase {
    font-size: 100px;
    padding-top: 80px;
    padding-right: 90px;
    margin-top: 0px;


}

#tourPage {
    /* text */
    text-align: left;
    /* pozadina */
    background-image: url(/img/tour/background.webp);
    background-color: rgba(8, 8, 48, 0.71);
    background-blend-mode:darken;
    background-size: 1920px;
    background-position:top;
    /* font */
    color: white;
}







